{# empty Twig template #}
{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Adverts</title>
    </head>
    <body>
        <div>
        <h1>Welcome on the adverts page !</h1>
        
        <p>
            < Adverts >
        </p>
    </body>
</html>
