{# empty Twig template #}

{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Full Adverts</title>
    </head>
    <body>
        <h1>Welcome on the "Full" adverts page !</h1>
        
        <p>
            <  Full Adverts >
        </p>
    </body>
</html>
