{# empty Twig template #}

<!DOCTYPE html>
<html>
    <head>
        <title>Adverts n°{{id}}</title>
    </head>
    <body>
        <h1>Cette page est une page de vue qui affiche l'annonce n°{{id}}</h1>

        <p>
        <div>
            <ul>
                Cette page est une page de vue dans le dossier src/PRS/PlatformBundle/Resources/views/Advert/ 
                
                <br>

                Elle affiche l'annonce n°{{id}}
            </ul>


        </div>



    </p>
</body>
</html>
